@import "./normalize.css";

:root {
  --color-primary: #2584ff;
  --color-primary-lighter: #3a8ffd;
  --color-secondary: #00d9ff;
  --color-secondary-lighter: #00c8eb;
  --color-accent: #ff3400;
  --color-accent-hover: #ec3000;
  --color-headings: #1b0760;
  --color-body: #5c5577;
  --color-body-lighter: #b9c3cf;
  --color-box-shadow: #f3f3f3;
  --color-border: #ccc;
  --color-icon-container: #f3f9fa;
  --color-bg-dark: #232323;
  --color-bg-dark-lighter: #393939;
  --color-link-lighter: #d2d0db;
  --border-radius: 30px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Typography */
::selection {
  background-color: var(--color-primary);
  color: #fff;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  color: var(--color-body);
}

img {
  max-width: 100%;
}

input {
  min-width: 0;
}

.container,
.container--shrank {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.container--shrank {
  max-width: 720px;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
  font-weight: 500;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/* Links */
a {
  text-decoration: none;
}

.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.15s;
}

.link-arrow:hover:after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* Badges */
.badge {
  border-radius: 20px;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  white-space: nowrap;
}

.badge--primary {
  background-color: var(--color-primary);
  color: #fff;
}

.badge--secondary {
  background-color: var(--color-secondary);
  color: #fff;
}

.badge--small {
  font-size: 1.6rem;
  padding: 0.5rem 1.5rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }

  .badge--small {
    font-size: 1.2rem;
  }
}

/* Lists */
.list {
  list-style: none;
  padding-left: 0;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url(../images/tick.svg);
  padding-left: 3rem;
}

.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}

/* Icons */
.icon {
  width: 40px;
  height: 40px;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon--white {
  fill: #fff;
}

.icon--small {
  width: 30px;
  height: 30px;
}

.icon-container {
  background-color: var(--color-icon-container);
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.icon-container--small {
  width: 48px;
  height: 48px;
}

.icon-container--accent {
  background-color: var(--color-accent);
}

.icon-container--black {
  background-color: var(--color-body);
}

/* Buttons */
.btn {
  border-radius: 50px;
  border: none;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: bold;
  margin: 1rem 0;
  padding: 2rem 3rem;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  display: inline-block;
}

.btn .icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.btn--primary {
  background-color: var(--color-primary);
  color: #fff;
}

.btn--primary:hover {
  background-color: var(--color-primary-lighter);
}

.btn--secondary {
  background-color: var(--color-secondary);
  color: #fff;
}

.btn--secondary:hover {
  background-color: var(--color-secondary-lighter);
}

.btn--accent {
  background-color: var(--color-accent);
  color: #000;
}

.btn--accent:hover {
  background-color: var(--color-accent-hover);
}

.btn--block {
  width: 100%;
  display: inline-block;
}

.btn--stretched {
  padding-left: 6rem;
  padding-right: 6rem;
}

.btn--outline {
  background-color: #fff;
  color: var(--color-headings);
  border: 2px solid var(--color-headings);
}

.btn--outline:hover {
  background-color: var(--color-headings);
  color: #fff;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

/* Input Group */
.input {
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  color: var(--color-headings);
  font-size: 2rem;
  padding: 1.5rem 2rem;
}

::placeholder {
  color: var(--color-body-lighter);
}

.input-group {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  display: flex;
}

.input-group .input {
  border: 0;
  flex-grow: 1;
}

.input-group .btn {
  margin: 4px;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}

/* Cards */
.card {
  border-radius: 7px;
  box-shadow: 0 0 20px 10px var(--color-box-shadow);
  overflow: hidden;
}

.card__header,
.card__body {
  padding: 2rem 3rem;
}

.card--primary .card__header {
  background-color: var(--color-primary);
  color: #fff;
}

.card--primary .badge--primary {
  background-color: var(--color-primary-lighter);
}

.card--secondary .card__header {
  background-color: var(--color-secondary);
  color: #fff;
}

.card--secondary .badge--secondary {
  background-color: var(--color-secondary-lighter);
}

/* Plans */
.plan__name {
  color: #fff;
  margin: 0;
  font-weight: 500;
  font-size: 2.4rem;
}

.plan__price {
  font-size: 6rem;
}

.plan__billing-cycle {
  font-size: 2.4rem;
  font-weight: 300;
  opacity: 0.8;
  margin-right: 1rem;
}

.plan__description {
  font-size: 2rem;
  font-weight: 300;
  opacity: 0.8;
  letter-spacing: 1px;
  display: block;
}

.plan .list__item {
  margin-bottom: 2rem;
}

.plan--popular {
  position: relative;
}

.plan--popular .card__header::before {
  content: url("../images/popular.svg");
  width: 40px;
  display: inline-block;
  position: absolute;
  top: -5px;
  right: 5%;
}

@media screen and (min-width: 1024px) {
  .plan__name {
    font-size: 1.4rem;
  }

  .plan__price {
    font-size: 5rem;
  }

  .plan__billing-cycle {
    font-size: 1.6rem;
  }

  .plan__description {
    font-size: 1.7rem;
  }
}

/* Media */
.media {
  display: flex;
  margin-bottom: 4rem;
}

.media__image {
  margin-top: 1rem;
}

.media__body {
  margin: 0 2rem;
}

.media__title {
  margin-top: 0;
}

.media__description {
  opacity: .8;
}

/* Quotes */
.quote {
  font-size: 3rem;
  line-height: 1.3;
}

.quote__line {
  position: relative;
  top: -10px;
}

.quote__text {
  font-style: italic;
}

.quote__text::before {
  content: open-quote;
}

.quote__text::after {
  content: close-quote;
}

.quote__author {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0;
}

.quote__organization {
  font-size: 1.6rem;
  color: var(--color-headings);
  opacity: 0.4;
}

@media screen and (min-width: 1024px) {
  .quote {
    font-size: 2rem;
  }

  .quote__author {
    font-size: 2.4rem;
  }

  .quote__organization {
    font-size: 1.6rem;
  }
}

/* Grids */
.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Testimonials */
.testimonial {
  padding: 3rem 4rem;
}

.testimonial .quote {
  margin: 2rem 0;
  font-size: 110%;
}

.testimonial__image-container {
  position: relative;
}

.testimonial__image-container .icon-container {
  position: absolute;
  right: -32px;
  top: 32px;
}

.testimonial__image {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .testimonial__image-container {
    margin-right: 6rem;
  }

  .testimonial .quote,
  .testimonial .quote__author {
    font-size: 2.4rem;
  }
}

/* Callouts */
.callout {
  padding: 4rem;
  border-radius: 5px;
  line-height: 1.5;
}

.callout--primary {
  background-color: var(--color-primary);
  color: #fff;
}

.callout__heading {
  color: #fff;
  margin-top: 0;
  font-size: 3rem;
}

.callout__content {
  text-align: center;
}

.callout .btn {
  align-self: center;
  justify-self: center;
}

@media screen and (min-width: 768px) {
  .callout .grid--1x2 {
    grid-template-columns: 1fr auto;
  }

  .callout__content {
    text-align: left;
  }

  .callout .btn {
    justify-self: left;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

/* Collapsibles */
.collapsible__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collapsible__heading {
  margin: 0;
  font-size: 3rem;
}

.collapsible__toggler {
  transform: rotate(-90deg);
  transition: transform .3s;
}

.collapsible__content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: .3s;
}

.collapsible--expanded .collapsible__toggler {
  transform: rotate(0);
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

/* Blocks */
.block {
  --padding-vertical: 6rem;
  padding: var(--padding-vertical) 2rem;
}

.block__header {
  text-align: center;
  margin-bottom: 4rem;
}

.block__heading {
  margin-top: 0;
}

.block--dark {
  background-color: #000;
  color: var(--color-body-lighter);
}

.block--dark h1,
.block--dark h2,
.block--dark h3 {
  color: #fff;
}

.block--skewed-right {
  padding-bottom: calc(var(--padding-vertical) + 4rem);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 95%);
}

.block--skewed-left {
  padding-bottom: calc(var(--padding-vertical) + 4rem);
  clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 100%);
}

/* Navigation Bar */
.nav {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 1rem;
}

.nav__brand {
  transform: translateY(5px);
}

.nav__toggler {
  opacity: .5;
  transition: 0.3s;
  cursor: pointer;
}

.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
  box-shadow: 0 0 0 3px var(--color-body);
  border-radius: 5px;
}

.nav__list {
  width: 100%;
  margin: 0;
}

.nav__item {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid var(--color-bg-dark);
}

.nav__link {
  color: var(--color-link-lighter);
  transition: color .3s;
}

.nav__link:hover {
  color: #fff;
}

@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }

  .nav__list {
    width: auto;
    display: flex;
    font-size: 1.6rem;
    max-height: 100%;
    opacity: 1;
  }

  .nav__item {
    border: 0;
  }
}

/* Heros */
.hero__tagline {
  font-size: 2rem;
  margin: 2rem 0;
  letter-spacing: 1px;
  color: var(--color-body-lighter);
}


@media screen and (min-width: 768px) {
  .hero {
    padding-top: 0;
  }

  .hero__content {
    text-align: left;
    align-self: center;
  }
}

/* Domain Block */
.block-domain .input-group {
  box-shadow: 0 0 30px 20px var(--color-box-shadow);
  border: 0;
  margin: 4rem auto;
}

.block-domain .icon,
.block-domain .btn__text {
  vertical-align: middle;
}

.block-domain__prices {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 6rem);
  justify-items: center;
  font-size: 2rem;
  font-weight: 600;
  white-space: nowrap;
  color: var(--color-headings);
}

@media screen and (min-width: 768px) {
  .block-domain__prices {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
}

/* Plans Block */
.block-plans.grid {
  align-items: center;
  gap: 8rem 4rem;
}

.block-plans .card {
  max-width: 500px;
  margin: 0 auto;
  transition: transform .2s ease-out;
}

.block-plans .card:hover {
  transform: scale(1.05);
}

.block-plans .card--primary {
  transform: scale(1.05);
}

.block-plans .card--primary:hover {
  transform: scale(1.1);
}

/* Features Blocks */
.block-feature .grid {
  gap: 8rem 4rem;
  margin: 10rem 0;
}

.block-feature__heading {
  margin-top: 1rem;
}

.block-feature__picture {
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .grid--1x2:nth-of-type(even) .block-feature__content {
    order: 2;
  }
}

/* Showcases Blocks */
@media screen and (min-width: 768px) {
  .block-showcase .grid {
    grid-template-columns: repeat(2, 50%);
  }

  .block-showcase__image {
    max-width: none;
  }

  .block-showcase__picture {
    justify-self: end;
  }
}

/* Footer */
.footer .callout {
  position: relative;
  top: 6rem;
}

.footer .block--dark {
  background-color: var(--color-bg-dark);
}

.footer .block__header {
  margin-bottom: 0;
}

.footer__sections {
  margin-top: 8rem;
}

.footer__section {
  padding: 2rem;
  border-bottom: 1px solid var(--color-bg-dark-lighter);
}

.footer__heading {
  text-transform: uppercase;
  font-weight: 600;
}

.footer__sections .icon-container--black {
  background-color: var(--color-bg-dark-lighter);
}

.footer__sections .list {
  margin: 1rem 0;
}

.footer__link {
  opacity: .6;
  color: var(--color-link-lighter);
  transition: .3s;
}

.footer__link:hover {
  color: #fff;
  opacity: 1;
}

.footer__brand {
  text-align: center;
  margin-top: 5rem;
}

.footer__copyright {
  font-size: 2.1rem;
  color: #fff;
  opacity: .3;
}

@media screen and (min-width: 768px) {
  .footer__sections.grid {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }

  .footer__section {
    border-bottom: none;
  }

  .footer__section .icon-container {
    display: none;
  }

  .footer__section .collapsible__content {
    max-height: 100%;
    opacity: 1;
  }

  .footer__heading {
    font-size: 1.6rem;
  }

  .footer__brand {
    order: -1;
    margin-top: 1rem;
  }

  .footer__copyright {
    font-size: 1.5rem;
  }
}