<div class="container">
    <section class="block block--dark block--skewed-left">
        <header class="block__header">
            <h2 class="block__heading">Heading</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At reprehenderit ipsam ratione iusto? Ullam vel
                ea
                magni. Veniam, totam ipsa.</p>
        </header>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi magni sapiente porro, ab vel laboriosam natus
            aliquid delectus odio molestiae sint id nesciunt ipsa odit nostrum temporibus dignissimos atque enim ex quae
            sed
            optio reprehenderit necessitatibus sequi? Magni, aut itaque numquam, aliquam cupiditate, est magnam
            quibusdam
            harum provident expedita sapiente?</p>
    </section>
</div>