<div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
        <h2 class="collapsible__heading">Products</h2>
        <span class="icon-container icon-container--small icon-container--black">
            <svg class="icon icon--small icon--white collapsible__chevron" xmlns='http://www.w3.org/2000/svg'
                viewBox='0 0 24 24'>
                <path
                    d='M8 21c-.26 0-.51-.1-.71-.29a.996.996 0 0 1 0-1.41l7.29-7.29-7.29-7.29A.996.996 0 1 1 8.7 3.31l8 8c.39.39.39 1.02 0 1.41l-8 8c-.2.2-.45.29-.71.29Z'>
                </path>
            </svg>
        </span>
    </header>
    <div class="collapsible__content">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore quibusdam nemo dignissimos earum ipsa iste
        laboriosam corporis distinctio quas alias!
    </div>
</div>
<script src="js/main.js"></script>