<section class="block container block-domain">
    <header class="block__header">
        <h2>Starting at $10 per month</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, exercitationem?</p>
    </header>
    <div class="input-group container--shrank">
        <input type="text" class="input" placeholder="Enter domain name here..." />
        <button class="btn btn--accent">
            <svg class="icon icon--white">
                <use xlink:href="images/sprite.svg#search"></use>
            </svg>
            <span class="btn__text">Search</span>
        </button>
    </div>
    <ul class="container--shrank list block-domain__prices">
        <li class="list__item list__item--active"><span class="badge badge--secondary">.com $9</span></li>
        <li class="list__item">.sg $10</li>
        <li class="list__item">.space $11</li>
        <li class="list__item">.into $14</li>
        <li class="list__item">.net $10</li>
        <li class="list__item">.xyz $10</li>
    </ul>
</section>